@import "../common_css.scss";

table {
  margin-top: 50px;
}
tbody tr td {
  border: 1px solid black;
  font-weight: bold;
}
thead {
  font-weight: bold;
  background-color: $primaryColor;
  color: white;
}

tr:nth-child(even) {
  background: $separatorColor;
}
