$primaryColor: #630213;
$secondaryColor: #D90429;
$tertiaryColor: #8c949e;
$separatorColor: #EDF2F4;
$backgroundColor: #fff;
$textColor: #333;

$standardBorderRadius: 10px;
$lightFontWeight: 300;
$mediumFontWeight: 400;
$heavyFontWeight: 700;

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}